*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popping',sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-bar{
    width: 100%;
    height: 4rem;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;
    padding: 0px,20px;
    align-items: center;
    justify-content: space-between;
}
.fa-solid{
    color: red;
    margin-right: 10px;
}
.header{
    width: 100%;
    height: 200px; 
    background-color: red;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar p{
 font-size: 30px;
 font-weight: bold;
 color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color:white;
    padding: 7px 15px;
}
.navbar ul li a:hover{
    background-color: white;
    color: red;
    border-radius: 3px;
}
.navbar-b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown{
    width: 130px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
}
select{
    outline: none;
    border: none;
    background: none;
    padding: 7px 10px 7px 0px;
    color: red;
    font-size: 18px;
    cursor: pointer;
}
select:hover{
    color:#333;
}
.search{
    width: 500px;
    background-color: white;
    height: 45px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.search input{
    width: 440px;
    border: none;
    outline: none;
    height: 40px;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
    font-size: 18px;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.glass:hover{
  color: blue;
  cursor: pointer ;
}

.item{
    box-shadow:0 0 4px 3px pink ;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2em;
}

/* cards tags */


/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.font-poppins{
    font-family: 'Poppins', sans-serif;
} */

.img{
    width: 250px;
    height: 350px;
    background-color: rgb(224, 224, 224);
}

/* #products-100{
    background:url(bg\ image1.webp);
} */



.container{
    display:flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display:grid;
    grid-template-columns: repect(2,1fr);
    grid-gap: 20px;
}
.sidebar{
    width:40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 950px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top:1px solid #333;
}


